*{
    margin: 0;
}
.nav{
    float: left;
    width: 100%;
    background: #000;
}

.nav li{
    float: left;
    width: 25%;
    text-align: center;
    list-style: none;
}

.nav a{
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover{
    background: #666;
}

.content{
    float: left;
    width: 100%;
    padding: 15px;
}